# Домашнее задание к лекции "Базовые понятия статистики"

Задание 1. Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [91]:
import pandas as pd
import numpy as np

In [92]:
df = pd.read_csv('horse_data.csv',header=None, na_values='?')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [93]:
df8=df.iloc[:, [0,1,3,4,5,10,12,22]]
df8.columns = ['surgery', 'age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'pain', 'abdominal_distension', 'outcome']
df8.head()

,surgery,age,rectal_temperature,pulse,respiratory_rate,pain,abdominal_distension,outcome
0,2.0,1,38.5,66.0,28.0,5.0,4.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,2.0,3.0
2,2.0,1,38.3,40.0,24.0,3.0,1.0,1.0
3,1.0,9,39.1,164.0,84.0,2.0,4.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [94]:
df8.shape

(300, 8)

In [95]:

df8.loc[df8.surgery == 1, 'surgery'] = 'yes'
df8.loc[df8.surgery == 2, 'surgery'] = 'not'
df8.loc[df8.age == 1, 'age'] = 'adult'
df8.loc[df8.age == 9, 'age'] = 'young'
df8.loc[df8.pain == 1, 'pain'] = 'no pain'
df8.loc[df8.pain == 2, 'pain'] = 'depressed'
df8.loc[df8.pain == 3, 'pain'] = 'intermittent mild pain'
df8.loc[df8.pain == 4, 'pain'] = 'intermittent severe pain'
df8.loc[df8.pain == 5, 'pain'] = 'continuous severe pain'
df8.loc[df8.abdominal_distension == 1, 'abdominal_distension'] = 'none'
df8.loc[df8.abdominal_distension == 2, 'abdominal_distension'] = 'slight'
df8.loc[df8.abdominal_distension == 3, 'abdominal_distension'] = 'moderate'
df8.loc[df8.abdominal_distension == 4, 'abdominal_distension'] = 'severe'
df8.loc[df8.outcome == 1, 'outcome'] = 'lived'
df8.loc[df8.outcome == 2, 'outcome'] = 'died'
df8.loc[df8.outcome == 3, 'outcome'] = 'was euthanized'
df8.head()

C:\Users\Maria\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,surgery,age,rectal_temperature,pulse,respiratory_rate,pain,abdominal_distension,outcome
0,not,adult,38.5,66.0,28.0,continuous severe pain,severe,died
1,yes,adult,39.2,88.0,20.0,intermittent mild pain,slight,was euthanized
2,not,adult,38.3,40.0,24.0,intermittent mild pain,none,lived
3,yes,young,39.1,164.0,84.0,depressed,severe,died
4,not,adult,37.3,104.0,35.0,NaN,NaN,died

In [96]:
df8.shape

(300, 8)

In [97]:
df8.describe()

       rectal_temperature       pulse  respiratory_rate
count          240.000000  276.000000        242.000000
mean            38.167917   71.913043         30.417355
std              0.732289   28.630557         17.642231
min             35.400000   30.000000          8.000000
25%             37.800000   48.000000         18.500000
50%             38.200000   64.000000         24.500000
75%             38.500000   88.000000         36.000000
max             40.800000  184.000000         96.000000

In [98]:
# считаем моду для всех столбцов:
print(f'Значение моды: \n surgery: {df8.surgery.mode()[0]} \n age: {df8.age.mode()[0]} \n rectal_temperature: {df8.rectal_temperature.mode()[0]} \n pulse: {df8.pulse.mode()[0]} \n respiratory_rate: {df8.respiratory_rate.mode()[0]} \n pain: {df8.pain.mode()[0]} \n abdominal_distension: {df8.abdominal_distension.mode()[0]} \n outcome: {df8.outcome.mode()[0]}')

Значение моды:
 surgery: yes
 age: adult
 rectal_temperature: 38.0
 pulse: 48.0
 respiratory_rate: 20.0
 pain: intermittent mild pain
 abdominal_distension: none
 outcome: lived

Задание 2. Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [99]:

# cчитаем выбросы значений ректальной температуре:
q1 = df8.rectal_temperature.quantile(0.25)
q3 = df8.rectal_temperature.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers_temp = df8[df8.rectal_temperature.between(lower_bound, upper_bound, inclusive=True)].sort_values('rectal_temperature')
remove_outliers_temp

,surgery,age,rectal_temperature,pulse,respiratory_rate,pain,abdominal_distension,outcome
113,yes,adult,36.8,60.0,28.0,NaN,NaN,died
277,not,adult,36.9,50.0,40.0,no pain,slight,lived
70,not,adult,37.0,60.0,20.0,intermittent mild pain,moderate,was euthanized
292,yes,adult,37.0,66.0,20.0,intermittent severe pain,moderate,died
190,yes,adult,37.1,40.0,8.0,intermittent mild pain,none,lived
...,...,...,...,...,...,...,...,...
165,yes,adult,39.4,120.0,48.0,NaN,moderate,was euthanized
231,not,adult,39.5,92.0,28.0,continuous severe pain,none,died
287,not,young,39.5,84.0,30.0,NaN,NaN,lived
117,not,adult,39.5,NaN,NaN,intermittent mild pain,moderate,was euthanized
162,not,adult,39.5,60.0,10.0,intermittent mild pain,slight,lived

In [100]:
# Принимая во внимание, что темп макс = 40.8 и темп миним = 35.4, 
# обе цифры реальны.
# Итого, я бы сохранила все данные, не удаляя и не заменяя выбросы.

In [101]:
# cчитаем выбросы значений пульса:
q1 = df8.pulse.quantile(0.25)
q3 = df8.pulse.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers_pulse = df8[df8.pulse.between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
remove_outliers_pulse

,surgery,age,rectal_temperature,pulse,respiratory_rate,pain,abdominal_distension,outcome
130,yes,adult,37.8,30.0,12.0,NaN,NaN,died
232,yes,adult,38.5,30.0,18.0,NaN,NaN,lived
203,not,adult,37.2,36.0,9.0,depressed,none,lived
276,yes,adult,38.0,36.0,16.0,intermittent severe pain,slight,was euthanized
242,yes,adult,NaN,36.0,32.0,continuous severe pain,moderate,died
...,...,...,...,...,...,...,...,...
148,yes,adult,38.3,132.0,NaN,depressed,slight,lived
135,yes,young,38.1,136.0,48.0,continuous severe pain,moderate,died
44,yes,adult,35.4,140.0,24.0,intermittent severe pain,NaN,was euthanized
103,yes,young,38.0,140.0,68.0,intermittent mild pain,slight,lived
39,yes,young,39.2,146.0,96.0,NaN,NaN,died

In [102]:
# Получается по пульсу:
quant_outl_pulse = (len(df8.pulse) - len(remove_outliers_pulse.pulse))/len(df8.pulse)*100
print(quant_outl_pulse)

9.666666666666666

In [103]:
# 10% выбросов по пульсу. Максимальное значение 184 смущает. Указано, что пульс в норме 30-40 или даже ниже. 
# Прасда, это у здоровых лошадей в обычных условиях
# Попробую посчитать среднее и медиану без выбросов, макс и миним:
print(remove_outliers_pulse.pulse.mean())
print(remove_outliers_pulse.pulse.median())
print(df8.pulse.mean() - remove_outliers_pulse.pulse.mean())
print(df8.pulse.median() - remove_outliers_pulse.pulse.median())
print(remove_outliers_pulse.pulse.max())
print(remove_outliers_pulse.pulse.min())

70.25830258302582
64.0
1.6547408952350509
0.0
146.0
30.0

In [104]:
# Медиана не изменилась, а среднее уменьшилось. 
#Минимум не изменился, а максимум уменьшился. Странно, делаю сортировку с выбросами и без
print(df8.pulse.sort_values())
print(remove_outliers_pulse.pulse.sort_values())

232    30.0
130    30.0
203    36.0
276    36.0
242    36.0
       ...
204     NaN
207     NaN
216     NaN
227     NaN
288     NaN
Name: pulse, Length: 300, dtype: float64
130     30.0
232     30.0
203     36.0
276     36.0
242     36.0
       ...
148    132.0
135    136.0
103    140.0
44     140.0
39     146.0
Name: pulse, Length: 271, dtype: float64

In [105]:
#Ощущение, что ушли неизвестные значения просто в выбросы, ну и нереально большие. 
#Думаю, что в случае с пульсом выбросы можно удалить.

In [106]:
# cчитаем выбросы частоты дыхания:
q1 = df8.respiratory_rate.quantile(0.25)
q3 = df8.respiratory_rate.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers_rate = df8[df8.respiratory_rate.between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
remove_outliers_rate

,surgery,age,rectal_temperature,pulse,respiratory_rate,pain,abdominal_distension,outcome
232,yes,adult,38.5,30.0,18.0,NaN,NaN,lived
130,yes,adult,37.8,30.0,12.0,NaN,NaN,died
276,yes,adult,38.0,36.0,16.0,intermittent severe pain,slight,was euthanized
242,yes,adult,NaN,36.0,32.0,continuous severe pain,moderate,died
203,not,adult,37.2,36.0,9.0,depressed,none,lived
...,...,...,...,...,...,...,...,...
83,yes,adult,38.0,NaN,24.0,continuous severe pain,severe,died
115,not,adult,NaN,NaN,40.0,intermittent mild pain,slight,lived
159,not,adult,NaN,NaN,12.0,depressed,slight,lived
182,yes,adult,38.0,NaN,24.0,continuous severe pain,severe,died
204,yes,adult,39.2,NaN,23.0,intermittent severe pain,slight,lived

In [136]:

print(f'среднее без выбросов: {remove_outliers_rate.respiratory_rate.mean()}')
print(f'медиана без выбросов: {remove_outliers_rate.respiratory_rate.median()}')
print(f'изменение среднего : {df8.respiratory_rate.mean() - remove_outliers_rate.respiratory_rate.mean()}')
print(f'изменение медианы : {df8.respiratory_rate.median() - remove_outliers_rate.respiratory_rate.median()}')
print(remove_outliers_rate.respiratory_rate.max())
print(remove_outliers_rate.respiratory_rate.min())

среднее без выбросов: 26.715555555555557
медиана без выбросов: 24.0
изменение среднего : 3.701799816345268
изменение медианы : 0.5
60.0
8.0

Несмотря на изменение по среднему и медиане, я думаю, что выбросы можно удалить, параметр не очень важный, 
сомнительно измеряемый, и главное его значение в его отличии от нормального ритма 8-10. У нас это минимальная граница, 
то есть большинство значений просто превышают нормальный ритм.

Задание 3. Работа с пропусками
Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [109]:
# Считаем пропуски
for col in df8:
    pct_missing = df8[col].isnull().mean()

    print(f'{col} - {pct_missing :.1%}')

surgery - 0.3%
age - 0.0%
rectal_temperature - 20.0%
pulse - 8.0%
respiratory_rate - 19.3%
pain - 18.3%
abdominal_distension - 18.7%
outcome - 0.3%

In [128]:
df8.dropna().info()
# если удалять все строки с пропусками, то остается половина только

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               153 non-null    object
 1   age                   153 non-null    object
 2   rectal_temperature    153 non-null    float64
 3   pulse                 153 non-null    float64
 4   respiratory_rate      153 non-null    float64
 5   pain                  153 non-null    object
 6   abdominal_distension  153 non-null    object
 7   outcome               153 non-null    object
dtypes: float64(3), object(5)
memory usage: 10.8+ KB

In [110]:
print(df8.surgery.value_counts())
print(df8.outcome.value_counts())

yes    180
not    119
Name: surgery, dtype: int64
lived             178
died               77
was euthanized     44
Name: outcome, dtype: int64

In [126]:
# surgery и outcome заполняем модой: всего одно значение неизвестно + всего 2-3 варианта значений, 
# поэтому стат. показатели не исказит:

import copy
df8_fin = copy.copy(df8)

df8_fin.surgery.fillna(df8_fin.surgery.mode()[0], inplace=True)
d8_fin.outcome.fillna(d8_fin.outcome.mode()[0], inplace=True)
print(d8_fin.surgery.isna().sum())
print(d8_fin.outcome.isna().sum())

0
0

In [127]:
# пробую заполнить медианой
df8_fin.pulse.fillna(df8_fin.pulse.median(), inplace=True)
print(df8_fin.pulse.mean())
print(df8.pulse.mean())
print(df8_fin.pulse.mode()[0])
print(df8.pulse.mode()[0])
print(df8_fin.pulse.median())
print(df8.pulse.median())

71.28
71.91304347826087
64.0
48.0
64.0
64.0

In [114]:
# наверное, так можно сделать. среднее незначительно изменилось, медиана осталась той же. 
# но надо иметь в вид, что на моду теперь ориентироваться нельзя, так как мы заменили 8% Nan на медиану, то соотв-но, 
# мода приняла значение медианы

In [130]:
# для температуры, уровня дыхания, боли и вздутие живота , где пропуски составляют около 20%, а значения фактические, 
# нужно указать "неизвестно", так как удаление или замена может значительно исказить стат.показатели.
# а также мы не можем найти, например, значение медианы для более узких групп для замены, так как непонятно, 
# почему возраст лошади дожен влиять на пульс, боль или вздутие живота, также и операционное вмешательство. Это было бы 
# очень вольным допущением
df8_fin['rectal_temperature'].fillna('no_info', inplace=True)

In [131]:
df8_fin['respiratory_rate'].fillna('no_info', inplace=True)

In [132]:
df8_fin['abdominal_distension'].fillna('no_info', inplace=True)

In [133]:
df8_fin['pain'].fillna('no_info', inplace=True)

In [134]:
for col in df8_fin:
    pct_missing = df8_fin[col].isnull().mean()

    print(f'{col} - {pct_missing :.1%}')

surgery - 0.0%
age - 0.0%
rectal_temperature - 0.0%
pulse - 0.0%
respiratory_rate - 0.0%
pain - 0.0%
abdominal_distension - 0.0%
outcome - 0.3%

In [135]:
df8_fin.head()

,surgery,age,rectal_temperature,pulse,respiratory_rate,pain,abdominal_distension,outcome
0,not,adult,38.5,66.0,28,continuous severe pain,severe,died
1,yes,adult,39.2,88.0,20,intermittent mild pain,slight,was euthanized
2,not,adult,38.3,40.0,24,intermittent mild pain,none,lived
3,yes,young,39.1,164.0,84,depressed,severe,died
4,not,adult,37.3,104.0,35,no_info,no_info,died